<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sistema Wall-e</title>
  </head>
  <body>
    <div class="d-flex justify-content-center" style="background-color: hsl(120, 100%, 9%)" >
        <div id="carouselExampleControls" class="carousel slide"  data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" >
                <img class="d-block w-100" src="/images/bn03.png" height="350px" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/images/bn01.png" height="350px" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/images/bn02.png" height="350px" alt="Terceiro Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>
        </div>
    
        <br />
    
        <div class="container justify-content-center">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/" style="color: #000000">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/agendar" style="color: #000000">Agendar Coleta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/locais" style="color: #000000">Locais de Coleta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/denuncias" style="color: #000000">Denunciar</a>
            </li>
          </ul>
          </div>

        <form action="/send-email" method="get">
        <div class="container justify-content-center mt-5">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Título</label>
            <input type="text" name="titulo" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Local da Denuncia</label>
            <input type="text" name="local" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">E-mail</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Seus dados não serão divulgados">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
            <textarea name="mensagem" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <input type="submit" class="w-100 btn btn-lg btn-success" value="Salvar"/>
          </div>
        </div>
        </form>

        <br>
        <br>
        <nav class="navbar fixed-bottom bg-dark">
            <div class="col-md-10">
              <a class="navbar-brand" style="color: #ffffff">Desenvolvido por Rafael Grade</a>
              <a class="navbar-brand" style="color: #ffffff">Disciplina de Tópicos Especiais</a>
              <a class="navbar-brand" style="color: #ffffff">Faccat</a>
            </div>
          </nav>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
          </body>
        </html>