<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sistema Wall-e</title>

    <style type="text/css">
      #map {
        width: 1100px;
        height: 500px;
        background: #ddd;
      }
    </style>

  </head>
  <body>
    
    <div class="d-flex justify-content-center" style="background-color: hsl(120, 100%, 9%)" >
    <div id="carouselExampleControls" class="carousel slide"  data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <img class="d-block w-100" src="/images/bn03.png" height="350px" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/bn01.png" height="350px" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/bn02.png" height="350px" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>

    <br />

    <div class="container justify-content-center">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/" style="color: #000000">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/agendar" style="color: #000000">Agendar Coleta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/locais" style="color: #000000">Locais de Coleta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/denuncias" style="color: #000000">Denunciar</a>
      </li>
    </ul>
    

   <div class="d-flex flex-row justify-content-center mt-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card " style="width: 300px">
            <div class="card-body">
              <h5 class="card-title">Agendar Coleta</h5>
              <p class="card-text">Agende coletas de forma simples e rápida! Assim, você estará ajudando o planeta sem sair do conforto de casa.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card " style="width: 300px"> 
            <div class="card-body">
              <h5 class="card-title">Locais de Coleta</h5>
              <p class="card-text">Veja quais os pontos de descarte de materiais eletrônicos que a sua cidade possui</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 300px">
            <div class="card-body">
              <h5 class="card-title">Denuncias</h5>
              <p class="card-text">Viu algum descarte irregular? Denuncie de forma anônima e ajude a acabar com os 'lixões' a céu aberto!</p>
            </div>
            
          </div>
          
        </div>
        <div id="map" class="mt-4"></div>
      </div>
      
    </div>

        

        <script>
          var map;
            function initMap() {
              map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: -29.513492908314433, lng: -50.778722309922834},
              zoom: 12
              });
              var novoMarcador1 = new google.maps.Marker({position: {lat: -29.513492908314433, lng: -50.778722309922834},
                                                           map: map,
                                                           title: "Calçados Bebece"
                                                           });
                var novoMarcador2 = new google.maps.Marker({position: {lat: -29.51512945208587, lng: -50.7797342884824},
                                                           map: map,
                                                           title: "Secretaria do Meio Ambiente"
                                                           }); 
                var novoMarcador3 = new google.maps.Marker({position: {lat: -29.477697258841797, lng: -50.76908431707539},
                                                           map: map,
                                                           title: "Escola Rui Barbosa"
                                                           }); 
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjlcGH3heBHc9WYhS4EkN8YxEC_dEJ0cA&callback=initMap" async defer></script>
       <br />

      </div>
      
      

   <nav class="navbar fixed-bottom bg-dark">
    <div class="col-md-10">
      <a class="navbar-brand" style="color: #ffffff">Desenvolvido por Rafael Grade</a>
      <a class="navbar-brand" style="color: #ffffff">Disciplina de Tópicos Especiais</a>
      <a class="navbar-brand" style="color: #ffffff">Faccat</a>
    </div>
  </nav>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>